.name {
    color: #664983;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    font-family: "Bahnschrift";
  }
  
  .repoList {
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(161, 161, 161, 0.9);
    margin-top: 1%;
    padding: 1%;
  }
  
  .filtersettingdiv {
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(161, 161, 161, 0.9);
    margin-bottom: 1%;
    height: 32.8%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .navigation {
    background-color: #ffffff;
  }
  
  img {
    border-radius: 50%;
  }
  
  mat-toolbar {
    box-shadow: 0px 1px 10px rgba(161, 161, 161, 0.9);
  }
  
  .content{
    margin-top: 0.28%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(161, 161, 161, 0.9);
    height: 40em;
    min-height: 40em;
    overflow-y:scroll;
  }
  
  .row{
    padding: 1% 1%;
    width: 100%;
  }